@import "../node_modules/ui-fonts/build/font-awesome-styles";
@import "../node_modules/ui-styles/variables";
@import "../node_modules/ui-styles/typography";

:host {
  display: block;
}

ui-typeahead {
  width: 100%;
}

#similarcms {
  display: block;
  width: 100%;
}

a{
  color: #2980b9;
}

a.delete{
  color: red
}
