@import "../node_modules/ui-fonts/font-awesome-styles";
@import "../node_modules/ui-styles/variables";
@import "../node_modules/ui-styles/typography";

@line_display: inline-block;

:host {
  display: block;
}

ui-typeahead {
  width: 100%;
}

#recommendedcms {
  font-size: small;
  display: block;
  width: 100%;
}

#cm {
  display: -webkit-flex;
  flex-flow: row wrap;
  display: flex;
}

a{
  color: #2980b9;
}

a.delete{
  color: red;
}

div.cmlink{
  margin: auto;
  flex: 2;
}

div.rate{
  width: 3em;
  margin: auto;
  flex: none;
}

div.employment{
  width: 35em;
  margin: auto;
  flex: 1 100%;
}

div.tip{
  min-width: 1em;
  max-width: 2em;
  flex: initial;
  margin: auto;
  display: @line_display;
}
